*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0084a8;
}

p {
    font-size: 18px;
}

.login-tab {
    background-color: #fff;
    height: 550px;
    width: 500px;
    margin: auto;
    margin-top: 70px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-name {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 100;
    color: #666666;
    font-family: Roboto, sans-serif;
}

/* input[type="email"],
input[type="password"] { */
.email-input,
.password-input {
    width: 90%;
    padding: 25px 0;
    margin: 0px 0;
    border: 1px solid #ddd;
    font-size: 20px;
    padding-left: 50px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: lighter;
    margin-bottom: 0;
    font-size: 20px;
}

.check-box {
    display: flex;
    span {
        margin-left: 10px;
        font-size: 20px;
    }
}

input[type="checkbox"] {
    transform: scale(1.5);
}

.error-message {
    color: red;
    font-size: 16px;
    display: none;
}

.input-error {
    border-color: red;
}



.login-button {
    width: 100%;
    padding: 25px 0;
    background-color: #0084a8;
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
}

.login-button:hover {
    background-color: #006f8c;
}

.login-button:active {
    background-color: #005f73;
}

.credential-recovery {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    span {
        color: #0084a8;
    }
}

.credential-recovery:hover span {
    text-decoration: underline;
}

.credential-recovery:active span {
    color: #005f73;
}

